/* -------------- merge from mokeup menu_ne.css begin -------------- */
#bodyCenterArea #siteNav a.atnPrimary{cursor:default;}
#bodyCenterArea #siteNav a.atnPrimary:link,
#bodyCenterArea #siteNav a.atnPrimary:visited,
#bodyCenterArea #siteNav a.atnPrimary:hover,
#bodyCenterArea #siteNav a.atnPrimary:active
#bodyCenterArea #siteNav a.atnPrimary:focus {color:#542F05;background:#ffa11b url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btngrad35_orange.png") repeat-x left top;
background:-webkit-gradient(linear,left top,left bottom,color-stop(.25, rgb(255,200,66)),color-stop(1, rgb(244,135,23)));
background:-moz-linear-gradient(center top,rgb(255,200,66) 25%,rgb(244,135,23) 100%);
border:2px solid #e9a11b;
-webkit-border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;
-moz-border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;
border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;}
/* B2B */
.B2B #bodyCenterArea #siteNav a.atnPrimary:link,
.B2B#bodyCenterArea #siteNav a.atnPrimary:visited,
.B2B#bodyCenterArea #siteNav a.atnPrimary:hover,
.B2B#bodyCenterArea #siteNav a.atnPrimary:active,
.B2B#bodyCenterArea #siteNav a.atnPrimary:focus {color:#FFF;background:#4d77b3 url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btngrad35_blue.png") repeat-x left top;
background:-webkit-gradient(linear,left top,left bottom,color-stop(.25, rgb(129,162,209)),color-stop(1, rgb(77,119,179)));
background:-moz-linear-gradient(center top,rgb(119,151,196) 25%,rgb(77,119,179) 100%);
border:2px solid #4d77b3;
-webkit-border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;
-moz-border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;
border-image:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdr_topbevel.png") 2 2 2 2 stretch stretch;}
.w66 .emailList #MessageBlk{font-size:1.2em;margin-top:-14px;}
.w66 .emailList p{margin:4px;}
.w66 .emailList p a{color:#32609E;}
#blaNavigation .bnr_left{margin-bottom:8px;}
#blaNavigation .bnr_left,
#blaNavigation .shoppingGuides,
#blaNavigation .categoryList{clear:left;}
a.button.orange.subscribe:hover,
a.button.orange.subscribe:active,
a.button.orange.subscribe:focus {color:#794400;} 
/* -------------- merge from mokeup menu_ne.css end -------------- */

/*-- homepage overrides --*/
#bodyCenterArea #siteNav{margin-top:-64px;}

#bodyCenterArea #siteNav .arrow{display:none;}
#bodyCenterArea .lnkBrowse .itmBrowseNav{position:relative;top:0;margin:-8px 0 8px 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
#bodyCenterArea #itmBrowseNav li:last-child .grpMenu .itmNav{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

/* -------------- merge from mokeup menu_ne.css end ---------------- */

/* overwrite for homepage 2011 */
div#container,div#footerArea{margin:0 auto;position:relative; max-width: 1050px; min-width: 984px;}
#bodyArea .bodyArea{border:0 !important;}
#bodyCenterArea{padding:0 1px !important;}
.B2B #bodyCenterArea{padding:0 !important;}

.flexibleBody{margin:7px;}
.flexibleBody .container{min-width:984px;max-width:1050px;margin:auto;padding:0;text-align:left;font-family:helvetica,arial,sans-serif;font-size:1.10em;}
.flexibleBody .hasNav{min-width:803px;padding:0 0 0 163px;}
.flexibleBody .hasNav .nav{float:left;width:159px;margin-left:-163px;font-size:0.9em;}
.B2B .article {width:100%;}
.article .grpModule{margin:0 0 8px 0;padding:0;width:100%;}
.B2B .article .grpModule{margin:0 0 5px 0;}
.actionArrow{font-size:0.8em;color:#335f9c;padding-left:2px;}
.B2B .actionArrow{padding-left:0px;}
em{font-weight:bold;font-style:normal;}

/* --- Links --- */
.flexibleBody a:link, .flexibleBody a:visited, .flexibleBody a:active{cursor:pointer;}

.flexibleBody a:link, .flexibleBody a:visited{/* color:black;text-decoration:none; */}
.flexibleBody a:hover, .flexibleBody a:active, .flexibleBody a:focus{/* color:#0066ff;text-decoration:none; */border-bottom:1px solid #0066ff;}

.hasNav .nav .section a.blue:link,
.hasNav .nav .section a.blue:visited,
.hasNav .nav .section a.blue:active,a.blue:hover,
.grpModule a.blue:link,
.grpModule a.blue:visited{/* color:#32609e; */color:#335f9c;}
.grpModule a.blue:active,
.grpModule a.blue:hover,
.grpModule a.blue:focus{/* text-decoration:underline;border:none; */color:#0066ff;text-decoration:none;border-bottom:1px solid #0066ff;}

.hasNav .nav .section a.yellow:link,
.hasNav .nav .section a.yellow:visited,
.hasNav .nav .section a.yellow:active,
a.yellow:hover,
.grpModule a.yellow:link,
.grpModule a.yellow:visited{color:#fbd52e;}
.grpModule a.yellow:active,
.grpModule a.yellow:hover,
.grpModule a.yellow:focus{text-decoration:underline;border:none;color:#fbd52e;}


.hasNav .nav a:link, .hasNav .nav a:visited, .hasNav .nav a:active {/* color:#6C6A6B;border:0;text-decoration: none; */}
.hasNav .nav a:hover {/* color:#06F;border-bottom:1px solid #06F; */}
.hasNav .nav .bnr_left a{border:none;}

/* --- Navigation --- */
.hasNav .nav .section{border:1px solid #e8e8e8;padding:8px 9px;}
.hasNav .nav .section h1{font-size:1.5em;color:#335f9c;margin:10px 0 18px 0;line-height:1.1em;}
.hasNav .nav .section ul{list-style:none;margin:0;padding:0;font-size:1.2em;}
.hasNav .nav .section li{margin-bottom:10px;color:#696969;}
.hasNav .nav .section .desc, .grpModule .featuredMkt .merchants .desc{font-size:0.8em;color:#a3a3a3;margin:0;display:block;height:1.2em;overflow:hidden;}
.hasNav .nav .section .shopAll, .grpModule .shopAll{display:block;border-top:1px solid #e8e8e8;font-size:1.2em;padding-top:5px;margin-bottom:10px;}
.hasNav .nav hr{height:1px;outline:none;border-top:1px solid #e8e8e8;border-right:none;border-bottom:none;border-left:none;padding:0;margin:16px 0;}

/* --- shopping Guides Gray --- */
.hasNav .nav .shoppingGuides{margin-top:35px;}
.hasNav .nav .shopping{display:inline;}
.hasNav .nav .shopping .inner{display:block;margin:-35px 0 15px 0;font-size:0;text-indent:-5000px;height:53px;background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/icn_shopping.png") no-repeat;width:136px;height:53px;}

/* --- shopping Guides Blue --- */
.hasNav .nav .shoppingGuides.round{
margin-top:0;
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
border:2px solid #bbd8ef;background:#f2f7ff;}
.B2B .hasNav .nav .shoppingGuides.round{
border-radius:  .5em .5em 0 0;
border:1px solid #e6e6e6;
background:#FFF;}
.B2B .btmModule .brands .round{
height: 270px;
border-radius:  .5em .5em 0 0;
border:1px solid #e6e6e6;
background:#FFF;}
.hasNav .nav .shoppingGuides.round .title{
display:block;
-webkit-border-radius: .2em .2em 0 0;
-moz-border-radius: .2em .2em 0 0;
border-radius: .2em .2em 0 0;
background: #709cc7;
background: -webkit-gradient(linear, left top, left bottom, from(#cee7fa), to(#709cc7));
background: -moz-linear-gradient(top,  #cee7fa,  #709cc7);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cee7fa', endColorstr='#709cc7');
/* padding:15px 9px 12px 9px; *//* font-size:1.65em; */font-weight:bold;color:#1d2d48;text-align:center;padding:15px 8px 12px 8px;font-size:1.55em;}
.B2B .hasNav .nav .shoppingGuides.round .title{
background: #4d77b3;
background: -webkit-gradient(linear, left top, left bottom, from(#7091c0), to(#4c73aa));
background: -moz-linear-gradient(top,  #7091c0,  #4c73aa);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7091c0', endColorstr='#4c73aa');
padding:6px 9px 6px 9px;font-size:1.50em;color:#FFF;text-align:left;
}
.hasNav .nav .shoppingGuides.round .notch{width:22px;height:11px;margin:0 auto auto 25px;display:block;background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/notch_guides.png") no-repeat;}
.hasNav .nav .shoppingGuides.round .guides{list-style:none;margin:0 0 14px 0;padding:0 9px;/* font-size:1.2em; */font-size:1.25em;}
.B2B .hasNav .nav .shoppingGuides.round .guides{margin:0 0 5px 0;}
.hasNav .nav .shoppingGuides.round .guides li{padding:10px 0;border-top:1px dotted #c4d5ee;}
.B2B .hasNav .nav .shoppingGuides.round .guides li{padding:6px 0;}
.hasNav .nav .shoppingGuides.round .guides li.first{border:none;}

/* ---  Blue Title (B2B) --- */
.titround{
margin-top:0;
-webkit-border-radius: .5em .5em 0 0 ;
-moz-border-radius: .5em .5em 0 0;
border-radius: .5em .5em 0 0;
background:#f3f3f3;}
.titround .title{
display:block;
-webkit-border-radius: .2em .2em 0 0;
-moz-border-radius: .2em .2em 0 0;
border-radius: .2em .2em 0 0;
background: #4d77b3;
background: -webkit-gradient(linear, left top, left bottom, from(#7091c0), to(#4c73aa));
background: -moz-linear-gradient(top,  #7091c0,  #4c73aa);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7091c0', endColorstr='#4c73aa');
padding:6px 9px 6px 9px;font-size:1.40em;font-weight:bold;color:#FFF;
font-family: Arial;}
/* --- Login Box (B2B)---*/
.LoginBox{padding:1.5em 2.5em; height: 175px;font-size: 1.1em;}
.LoginBox .left{float: left; display: inline; width:70%;}
.LoginBox .right{float: right;display: inline;width:30%; font-size: .90em;}
.LoginBox input{border: 1px solid; color: #bababa; width: 150px; margin-bottom: 5px;}
.LoginBox .right .button {padding: 1.3em 1.0em;}
.LinkUnder{padding: 0 0; display: block;}
.LinkUnder a {text-decoration: underline;}
.LoginBox .cAccount .button  {padding: .65em 3.5em;width:140px;font-size:1em; }
.LoginBox ul {padding: 0 3px; list-style:none; margin-top: 7px; }
.LoginBox ul li {line-height: 18px; }
.LoginBox .midMsg{padding: 16px 0 4px 2px; }
.LoginBox .linkBtm{padding-top:15px; line-height:20px;font-family:verdana;font-size:11px;}
.LoginBox span{display: block; color: #4f75ab; font-weight: bold;}
.LoggedinBox{padding:1em 1em; height:187px;font-size: 1.2em;}
.LoggedinBox .left{float: left; display: inline; width:70%; font-weight: bold; color: #f48227;font-size: 1.1em;}
.LoggedinBox .right{float: right;display: inline;width:30%;text-decoration: underline; text-align:right;}
.LoggedinBox div{padding: 5px 0; }
.LoggedinBox .orderNum{float:left;text-decoration: underline; width: 60%; padding: 5px 0;}
.LoggedinBox .orderStatus{color:#789A36;float:right; width: 40%; padding: 5px 0;text-align:right;}
.LoggedinBox ul {padding: 0 3px; list-style:none; margin-top: 7px; }
.LoggedinBox ul li {line-height: 18px; }
/* --- Side Banner --- */
.hasNav .nav .sideBnr{border:1px solid #e8e8e8;}

.hasNav .nav .section, .hasNav .nav .shopingGuides, .hasNav .nav .shoppingGuides.round, .hasNav .nav .bnrB2b, .hasNav .nav .sideBnr{margin-bottom:8px;}

/* --- Modules ---*/
.w33{width:33%;float:right;}
.w66{width:66%;float:left;}
.grpModule h3{color:#335F9C;font-size:1.85em;font-weight:bold;}
.B2B .grpModule h3{line-height:normal;}
.grpModule h3 a,
.grpModule h4 a{color:#335F9C;text-decoration:underline;}
.grpModule h4{color:#335F9C;font-size:1.5em;font-weight:normal;line-height:1.1em;}
.grpModule h4{color:#335F9C;font-size:14px;font-weight:normal;line-height:1.1em;} 

.w66 .cell{width:50%;float:left;}
.w33 .cell{width:100%;float:left;}
.grpModule .callToAction{display:block;font-size:1.2em;margin-bottom:10px;clear:both;}

/* --- Hero ---*/
.grpModule .hero .shadow{background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bnrShadow.jpg") repeat-x;display:block;margin:0;width:auto;height:6px;}
.grpModule #heroModule.wrap_hero, .grpModule #heroModule.hasLabel{height:240px;}
.grpModule .wrap_hero{position:relative;font-size:1.2em;height:240px;overflow:hidden;margin-bottom:0;border:none;}
.grpModule .wrap_hero .wrap_nav{background:none;position: absolute;left:7px;bottom:5px;z-index:30;height:24px;width:50%;overflow: hidden;}
.grpModule .wrap_hero .wrap_nav .list_nav{height:24px;list-style:none;margin:0 0 0 0;padding:0 0 0 0;font-family:arial;width:100%;}
.grpModule .wrap_hero .wrap_nav .list_nav li:first-child {margin-left:0;}
.grpModule .wrap_hero .wrap_nav .list_nav li{display:block;float:left;position:relative;margin:1px;padding:0 0 0 0;/* font-size:1.1em; */text-align:center;border-width:0;border-style:solid;border-color:transparent;white-space:nowrap;font-size:0.95em;}
.grpModule .wrap_hero .wrap_nav .list_nav a{color:#fff;border:0;padding-top:2px;display:block;}

/* --- hero rotation styles --- */
.grpModule .wrap_hero .wrap_banner{display:none;}
.grpModule .wrap_hero.show_1 #hero_1,
.grpModule .wrap_hero.show_2 #hero_2,
.grpModule .wrap_hero.show_3 #hero_3,
.grpModule .wrap_hero.show_4 #hero_4,
.grpModule .wrap_hero.show_5 #hero_5,
.grpModule .wrap_hero.show_6 #hero_6,
.grpModule .wrap_hero.show_7 #hero_7,
.grpModule .wrap_hero.show_8 #hero_8,
.grpModule .wrap_hero.show_9 #hero_9 {display:block;}

.grpModule .wrap_hero #heroNav_1,
.grpModule .wrap_hero #heroNav_2,
.grpModule .wrap_hero #heroNav_3,
.grpModule .wrap_hero #heroNav_4,
.grpModule .wrap_hero #heroNav_5,
.grpModule .wrap_hero #heroNav_6,
.grpModule .wrap_hero #heroNav_7,
.grpModule .wrap_hero #heroNav_8,
.grpModule .wrap_hero #heroNav_9 
{display:block;border: 1px solid #454545;height:20px;width:20px;-moz-border-radius:10px;-webkit-border-radius:12px;
background: #161717;
background: -webkit-gradient(linear, left top, left bottom, from(#515252), to(#161717));
background: -moz-linear-gradient(top,  #515252,  #161717);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#515252', endColorstr='#161717');
opacity:.90;filter:alpha(opacity=90);}

.grpModule .wrap_hero.show_1 #heroNav_1,
.grpModule .wrap_hero.show_2 #heroNav_2,
.grpModule .wrap_hero.show_3 #heroNav_3,
.grpModule .wrap_hero.show_4 #heroNav_4,
.grpModule .wrap_hero.show_5 #heroNav_5,
.grpModule .wrap_hero.show_6 #heroNav_6,
.grpModule .wrap_hero.show_7 #heroNav_7,
.grpModule .wrap_hero.show_8 #heroNav_8,
.grpModule .wrap_hero.show_9 #heroNav_9 
{display:block;border: 1px solid #5389c1;height:20px;width:20px;-moz-border-radius:10px;-webkit-border-radius:12px;
background: #355885;
background: -webkit-gradient(linear, left top, left bottom, from(#85a4c9), to(#355885));
background: -moz-linear-gradient(top,  #85a4c9,  #355885);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#85a4c9', endColorstr='#355885');
opacity:.90;filter:alpha(opacity=90);}

.grpModule .wrap_hero.show_1 #heroNav_1 a,
.grpModule .wrap_hero.show_2 #heroNav_2 a,
.grpModule .wrap_hero.show_3 #heroNav_3 a,
.grpModule .wrap_hero.show_4 #heroNav_4 a,
.grpModule .wrap_hero.show_5 #heroNav_5 a,
.grpModule .wrap_hero.show_6 #heroNav_6 a,
.grpModule .wrap_hero.show_7 #heroNav_7 a,
.grpModule .wrap_hero.show_8 #heroNav_8 a,
.grpModule .wrap_hero.show_9 #heroNav_9 a {color:#fff;}

/* --- Branding Banner --- */
.grpModule .brandBnr{text-align:center;height:241px;overflow:hidden;}
.B2B .grpModule .brandBnr{ height:271px; }
.grpModule .brandBnr a{display:block;margin-bottom:3px;border:0;}
.B2B .grpModule .brandBnr a{margin-bottom:0}
.grpModule .brandBnr a:hover {border:0;}

/* --- Featured Cells ---*/
.grpModule.grpFeatures{border-bottom:1px solid #e8e8e8;}
.grpModule.grpFeatures /* h1 */h2{color:#ff9701;font-size:0;/* text-indent:-5000px; */height:43px;}
.grpModule.grpFeatures a:link, 
.grpModule.grpFeatures a:visited {color:#222;}
.grpModule.grpFeatures a:hover,
.grpModule.grpFeatures a:focus,
.grpModule.grpFeatures a:active{color:#0066ff;}
.grpModule.grpFeatures .callToAction a.blue:link,
.grpModule.grpFeatures .callToAction a.blue:visited{color:#335f9c;}
.grpModule.grpFeatures .callToAction a.blue:hover,
.grpModule.grpFeatures .callToAction a.blue:focus,
.grpModule.grpFeatures .callToAction a.blue:active{color:#0066ff;border-bottom:1px solid #0066ff;}
.grpModule.featureCells .cell{width:50%;}


.grpModule .featureWrapper{margin:10px;}
.grpModule .featureWrapper .title{height:43px;min-width:246px;display:block;overflow:hidden;}
.grpModule .featureWrapper .title .shocker{background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/logo_shellshocker.gif") no-repeat;width:225px;height:43px;}
.grpModule .featureWrapper .wrapper{min-height:192px;}
.grpModule .wrapper{width:100%;}
.grpModule .prodImg{width:180px;height:135px;margin:0 auto 5px auto;display:block;}
.grpModule .prodPrice{display:block;margin-bottom:5px;/* min-height:33px; */min-height:60px;}
.grpModule .prodPrice .priceFinal{display:block;/* font-size:2.2em; */font-size:2.25em;}
.grpModule .prodPrice .priceFinal sup{font-weight: normal;font-size: .65em;vertical-align: top;}
.grpModule .prodPrice .priceWas{display:block;/* color:#777; */font-family:verdana,sans-serif;/* font-size:1.1em; */font-size:0.85em;color:#666;}
.B2B .grpModule .prodPrice .priceWas{color:#999;font-size:1.15em;}
.grpModule .prodPrice .priceNote{display:block;font-family:verdana,sans-serif;/* font-size:1.1em;color:#777; */font-size:0.85em;color:#666;}
.B2B .grpModule .prodPrice .priceNote{color:#999;}
.grpModule .prodPrice .soldOut{font-size:0.8em;color:red;}
.grpModule .prodTitle{display:block;font-size:1.2em;height:2.5em;margin-bottom:7px;overflow:hidden;clear:both;line-height:1.2;}
.grpModule .prodTitle{display:block;font-size:1.2em;height:2.5em;margin-bottom:20px;overflow:hidden;clear:both;line-height:1.2;font-size: 14px; font-weight: normal;} /* RH */
.B2B .grpModule .prodTitle{margin-bottom:7px;}
.grpModule .prodPrice .hidden{display:none;}

/* COMBO FEATURES */
.grpPhotos{display:block;position:relative;width:180px;height:135px;margin:0 5px .5em 0;overflow:hidden;}
.combo2 .imgPrime{width:180px;height:135px;}
.combo3 .imgPrime{width:125px;height:94px;margin-top:20px;}
.combo4 .imgPrime{width:125px;height:94px;margin-top:10px;}
.grpPhotos .grpImgAddl{position:absolute;right:0;bottom:2px;text-align:right;}
.grpPhotos .imgThumb{margin:3px 0 0 0;border:1px solid #c3c6c9;}
.combo3 .grpImgAddl{bottom:15px;width:70px;}
.combo4 .grpImgAddl{width:130px;height:102px;}
.combo4 .grpImgAddl .first{margin-left:50px;}
.grpPhotos .icnPlus{position:absolute;right:50px;bottom:35px;}
.combo2 .icnPlus{right:45px;bottom:30px;}
.cell .prodTitle em{font-style:normal;font-weight:bold;}


/* --- Featured Daily Deals --- */
.callToAction.daily{display:block;height:52px;overflow:hidden;text-indent:-5000px;font-size:0;margin-top:-10px;}
.callToAction.daily .labelElement{display:block;background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_dailyLabel.png") no-repeat top right;height:51px;}

/* --- Lifestyle --- */
.grpModule .promoSections{overflow:hidden;font-size:0.95em;}
.grpModule .promoSections .lifestyle{margin:24px 10px 10px 10px;}
.grpModule .lifestyle h2{color:#373737;font-weight:normal;display:block;height:1.3em;line-height:1.4;width:248px;margin:0 0 15px 0;overflow:hidden;font-size:2.0em;}

.grpModule .lifestyle h2{color:#222;}

.grpModule .lifestyle .bnr{margin-top:-5px;border-bottom:1px solid #f1f1f1;padding-bottom:10px;height:94px;}
.grpModule .lifestyle .bnr .prod{width:125px;height:94px;float:left;margin-right:20px;}
.grpModule .lifestyle .bnr .grpTitle{float:left;display:block;color:#81ace9;font-size:2.0em;margin:15px 0;line-height:0.8;width:97px;height:66px;overflow:hidden;}
.grpModule .lifestyle .bnr .grpTitle em{font-weight:bold;color:#335f9c;display:block;font-style:normal;}
.grpModule .lifestyle .bnr .grpTitle .subLink{font-size:0.6em;color:#6489bb;display:block;margin-top:10px;}
.grpModule .lifestyle .grpCat{list-style:none;margin:0;padding:0;}


.grpModule .lifestyle .grpCat li{background: url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bullet_arrow.png") no-repeat 0px 50%;border-bottom:1px solid #f1f1f1;padding:5px 0 5px 10px;font-size:1.25em;height:1.3em;overflow:hidden;line-height:1.5;}

.grpModule .lifestyle .grpCat li a{border:0;}

/* --- Lifestyle (B2B)--- */
.B2B .grpModule .promoSections{overflow:hidden;}
.B2B .grpModule .promoSections .lifestyle{margin:0 3px 3px 3px;}
.B2B .grpModule .lifestyle h2{color:#012d6b;font-size:1.6em;font-weight:bold;display:block;height:1.5em;line-height:1.6;width:248px;margin: 2px 0 7px 0;overflow:hidden;}
.B2B .grpModule .lifestyle .bnr{margin-top:-5px;border-bottom:1px solid #f1f1f1;padding: 0 0 0 10px; width:272px; height:105px; background-color: #e5e5e5;}
.B2B .grpModule .lifestyle .bnr .prod{width:165px;height:105px;float:left;margin-right:5px;}
.B2B .grpModule .lifestyle .bnr .grpTitle{float:left;display:block;color:#333;font-family: "Lucida Grande", Arial; font-size:1.4em;margin:27px 0 0 0;line-height:0.8;width:97px;height:66px;overflow:hidden;}
.B2B .grpModule .lifestyle .bnr .grpTitle em{font-weight:bold;color:#335f9c;display:block;font-style:normal;}
.B2B .grpModule .lifestyle .bnr .grpTitle .subLink{font-size:0.6em;color:#6489bb;display:block;margin-top:10px;}
.B2B .grpModule .lifestyle .grpCat{list-style:none;margin:0;padding:0;}
.B2B .grpModule .lifestyle .grpCat li{background: url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bullet_arrow.png") no-repeat 0px 50%;border-bottom:1px solid #f1f1f1;padding:5px 0 5px 10px;font-size:1.25em;height:1.3em;overflow:hidden;line-height:1.5;}
.B2B .grpModule .lifestyle .grpCat li a{border:0;}
/* --- Marketplace Specials ---*/
.grpModule .mktpSpecials{background:#eee url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_specials.jpg") repeat-x top left;text-align:center;padding:5px;overflow:hidden;}
.grpModule .mktpSpecials .itemCells{background:#fff;border:1px solid #e1e1e1;padding-top:10px;}
.grpModule .mktpSpecials .itemCells h2{color:#335F9C;font-size:2.1em;line-height:normal;}
.grpModule .mktpSpecials .cell{border-bottom:1px solid #f1f1f1;margin:auto 10px;padding:30px 0;width:90%;float:none;}
.grpModule .mktpSpecials .cell .prodImg{width:125px;height:94px;margin:0 5px 0 0;padding-bottom:30px;float:left;}
.grpModule .mktpSpecials .cell .wrapper{display:block;}
.grpModule .mktpSpecials .cell .wrapper .brandImg{width:70px;height:28px;display:block; margin-bottom:4px;}
.grpModule .mktpSpecials .cell .wrapper .title{font-size:12px;overflow:hidden;margin:4px 0;display:block;text-align:left;height:74px;line-height:14px;}
.grpModule .mktpSpecials .cell .wrapper .finalPrice{display:block;margin:0;padding:0;text-align:left;font-size:2.25em;}
.grpModule .mktpSpecials .cell .wrapper .finalPrice sup{font-weight: normal;font-size: .65em;vertical-align: top;}
.grpModule .mktpSpecials .cell .wrapper .priceNote{display:block;font-size:1.2em;margin:0;padding:0;text-align:left;}
.grpModule .mktpSpecials .all{display:block;/* font-size:1.6em; */font-weight:bold;margin:20px auto;font-size:1.55em;}

.grpModule .mktpSpecials .all{ font-weight:normal; font-size:1.35em}

/* --- Product Listing --- */
.grpModule .wrap_cell{display:block;width:25%;float:left;margin-bottom:10px;}
.B2B .grpModule .wrap_cell{margin-bottom:0;}
.grpModule .wrap_inner{margin:0 13px;text-align:center;}
.grpModule .wrap_inner{margin:0 5px;}

.grpModule .wrap_graphics{display:block;margin:auto;}
.grpModule .wrap_graphics .itemImage{border:0;}
.grpModule .wrap_graphics .itemImage img{width:100%;}
.grpModule .wrap_description{margin:5px 0;height:2.5em;font-size:1.2em;display:block;overflow:hidden;margin-bottom:0px;text-align:left;}

.grpModule .wrap_description .descText {font-weight: normal;font-size: 13px; font-weight: normal;}

.grpModule .wrap_pitch{display:block;margin-bottom:10px;font-size:1.1em;text-align:left;}
.B2B .grpModule .wrap_pitch{margin-bottom:auto;}
.grpModule .wrap_pitch .list_pricing{list-style:none;padding:0;margin:0;height:50px;font-size:1.01em;}
.grpModule .wrap_pitch .list_pricing .priceMAP{padding-top:.50em;}
.B2B .grpModule .wrap_pitch .list_pricing{height:auto;}
.grpModule .wrap_pitch .priceWas{display:none;}
.grpModule .wrap_pitch .priceShip{display:none;}
.grpModule .actCat{text-align:left;}
.grpModule .wrap_mir{margin:5px 0;height:5em;font-size:1.2em;line-height: 14px; display:block;overflow:hidden;margin-bottom:0px;text-align:left; color: #789401;}
.grpModule .wrap_promotion{margin:5px 0;height:5em;font-size:1.2em;line-height: 14px; display:block;overflow:hidden;margin-bottom:0px;text-align:left; color: #ff6600;}

/* --- Recommend --- */
.grpModule .recommend{margin-bottom:10px;overflow:hidden;}
.grpModule .recommend .wrap_head{position:relative;background:#fff url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_galleryHeadLine.png") repeat-x left top;padding:1px;margin-bottom:10px;}
.B2B .grpModule .recommend .wrap_head{background:none;padding:0;margin-bottom:0;}
.grpModule .recommend .head{min-height:32px;background:#fff url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_galleryHead.png") repeat-x left top;}
.B2B .grpModule .recommend .head{min-height:30px;background:none; }
.grpModule .recommend .head .title{/* font-size:1.7em;color:#516c99; */padding:8px 10px;margin:0;font-size:1.55em;font-weight:bold;color:#335f9c;}
.B2B .grpModule .recommend .head .title{padding:6px 5px 8px 5px;color: #012D6B;  font-size:1.6em; font-weight:bold;display:block;height:1.0em;line-height:1.4;width:600px;margin:0 0 5px 0;overflow:hidden; border-bottom: 1px solid; border-color: #e6e6e6;}
.grpModule .recommend .wrap_foot{clear:both;padding-top:10px;font-size:1.2em;width:100%;}
.grpModule .recommend .foot{position:relative;float:left;width:100%;padding:0;overflow:hidden;background:#fff url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_galleryFoot.png") repeat-x left bottom;}
.B2B .grpModule .recommend .foot{background:#f3f6fc none;}
.grpModule .recommend .foot .list_links{position:relative;left:50%;float:left;list-style:none;margin:0;padding:4px 0 2px 0;}
.grpModule .recommend .foot .list_links li{position:relative;right:50%;float:left;padding:4px 8px;}
.grpModule .recommend .itemBrand{display:none;}
.grpModule .recommend .wrap_description{height:3.5em;}
.grpModule .recommend .actCat{height:2.55em;overflow:hidden;line-height:1.25;}
.B2B .grpModule .recommend .actCat{height:2.5em;}
.B2B .grpModule .recommend .callToAction{display:block;font-size:1.2em;margin-bottom:2px;clear:both;}
/* --- Personalization --- */
#personalizationWrapper .loader{padding:90px 0;text-align:center;margin:48px 0;color:#222;font-weight:bold;font-size:1.2em;}
#personalizationWrapper .loader img{vertical-align: middle;}
.grpModule .personalization{overflow:hidden;border-top:2px solid #e8e8e8;margin-bottom:10px;}
.grpModule .personalization .wrap_head{} 
.grpModule .personalization .head{display:block;}
.grpModule .personalization .title{/* font-size:1.7em; */padding:0 0 0 5px;margin:8px;font-size:1.55em;font-weight:bold;}
.grpModule .personalization .title{ font-size:16px;}

.grpModule .personalization .wrap_foot{clear:both;display:block;text-align:center;height:14px;padding:0 8px 5px;}
.grpModule .personalization .wrap_foot .foot{font-size:1.2em;}
.grpModule .personalization .wrap_description{height:3.5em;}
.grpModule .personalization .actCat{display:none;}
.grpModule .personalization .wrap_ref{border-bottom:4px solid #f3f6f9;padding:2px 18px;overflow:hidden;font-size:1.2em;}
.grpModule .personalization .wrap_ref img{vertical-align:middle;}
.grpModule .personalization.withRef{}
.grpModule .personalization .itemBrand{height:28px;margin-top:8px;margin-bottom:8px;}
.ie_6 .grpModule .withRef .wrap_foot{display:none;}
.ie_6 .personalizationWrapper .grpModule .top .topList{height:200px;}
.ie_6 .personalizationWrapper .wrap_pitch li.priceNote{;display:none;}
.personalizationWrapper .grpModule .top{border:2px solid #e8e8e8;}
.personalizationWrapper .grpModule{margin-top:20px;}
.personalizationWrapper .priceWas,
.personalizationWrapper .priceFinal,
.personalizationWrapper .priceShip,
.personalizationWrapper .priceNote{overflow:hidden;}
.personalizationWrapper .grpModule .top .topList{height:170px;overflow:hidden;margin-left:0px;padding-left:24px;}
#personalizationWrapper .wrap_pitch li.priceNote{font-size:0.9em;}


/* --- Featured Marketplace Merchants --- */
.grpModule .featuredMkt, .grpModule .top{border:1px solid #e8e8e8;padding:0 15px 10px 15px;}
.grpModule .featuredMkt, .grpModule .top h2{color: #335F9C;font-size: 1.5em;font-weight: bold;line-height: 1.1em;}
.grpModule .featuredMkt, .grpModule .top h2 a{color: #335F9C;text-decoration: underline;}
.grpModule .featuredMkt{height:410px;overflow:hidden;}
.grpModule .top{overflow:hidden;}
.grpModule .featuredMkt .merchants{list-style:none;text-align:center;margin:30px 0 15px 0;padding:0;}
.grpModule .featuredMkt .merchants li{margin-bottom:15px;}
.grpModule .featuredMkt .merchants .desc{font-size:1.0em;}

/* --- Top Sellers --- */
.grpModule .top .topList{font-size:1.5em;font-weight:bold;margin:30px 2px 20px 20px;padding:0;}
.grpModule .top .topList li{margin-bottom:10px;}
.grpModule .top .wrapper{display:block;padding-left:5px;}
.grpModule .top .prodImg{float:left;margin-right:5px;width:60px;height:45px;overflow: hidden;}
.grpModule .top .grpDesc{float:left;font-size:0.8em;display:block;width:69%;}
.grpModule .top .title{font-weight:normal;display:block;line-height:1.1;height:2.3em;margin-bottom:2px;overflow:hidden;}
.grpModule .top .title{ height:2.3em;}
.grpModule .top .price{font-weight:bold;color:#3A3A3A;display:block;}
.grpModule .top .price{ color:#222;}

.grpModule .top .priceNote{font-size:.85em;color:#4d4d4d;}

/* --- Email --- */
.w66 .email{border:2px solid #e8e8e8;text-align:center;margin:0;padding:0;height:75px;overflow:hidden;font-size:1.2em;}
.B2B .w66 .email{border:1px solid #d0d0d0;}
.w33 .email{border:2px solid #e8e8e8;text-align:center;/* margin:0; */padding:0;height:303px;overflow:hidden;/* font-size:1.2em; */font-size:1.0em;margin:0 0 10px 0;}
.B2B .w33 .email{border:1px solid #d0d0d0;height:270px;}
.grpModule .emailImg{height:75px;}
.w66 .emailList{padding:15px 30px;}
.w66 .email .wrapper_bnr{float:left;width:48%;display:block;overflow:hidden;}
.grpModule .email .emailBnr{float:left;}
.B2B .grpModule .email .emailBnr{width: 90px;padding-top:5px;}
.grpModule .email ul{float:left;list-style:none;text-align:left;padding:0;margin:0 0 0 5px;width:145px;height:75px;overflow:hidden;}
.B2B .grpModule .email ul{margin:12px 0 0 5px; font-size:1.1em;}
.grpModule .email li{background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bullet_check.png") no-repeat 0px 50%;color:#3b3b3b;margin-bottom:5px;padding-left:20px;}
.grpModule .email li{ color:#222;}

.grpModule .email .actEmail{padding:0px;/* margin:5px 0 0 0; */margin-top:5px;}
.w66 .email .wrapper_link{width:48%;float:right;display:block;overflow:hidden;}
.w33 .email .wrapper_link,
.w33 .email .wrapper_bnr,
.w33 .email .wrapper_msg{width:90%;float:none;display:block;overflow:hidden;margin:20px auto;}
.w33 .email .wrapper_link,
.w33 .email .wrapper_bnr,
.B2B .w33 .email .wrapper_msg{width:92%;margin:10px auto;}
.grpModule .email input{width:95%;margin-bottom:5px;font-size:1.2em;}
.grpModule .email input{color:#666;}

.grpModule .email .subscribe{width:85%;}
.w33 .email .wrapper_link label{display:block;padding:2px;text-align:left;}
.w66 .email h2{margin-top:0;}
.B2B .w33 .email h2{font-size: 15px; font-family: "Lucida Grande", Arial;  color: #335f9c; letter-spacing: -1;}
.grpModule .email a:link,
.grpModule .email a:hover,
.grpModule .email a:active,
.grpModule .email a:visited,
.grpModule .email a:focus{/*border-bottom:0;*/}
.error label{color:#d00;}
.error input{border:1px solid #d00;}
.w33 .email .title{font-size: 1.5em;margin:14px 0;font-weight:bold;}
/* --- Testimonial --- */
.testimonial div{margin-top:8px;}

.grpModule.testimonial{width:auto;margin:16px 0;padding:8px 16px 8px 287px;background:#e0e0e0 url("http://images10.newegg.com/WebResource/Themes/2005/Nest/tag_takeit.png") no-repeat 0 8px;font-size:1.3em;color:#000;}

.grpModule.testimonial p{font-size:1.1em;margin-top:0;}
/* --- Shop by Brand (B2B)--- */
.B2B .btmModule .brands{width:auto;margin:0 0 8px 0;padding:5px 0;border:1px solid #e6e6e6;background-color: #FFF;font-size:1.3em;color:#000;text-align: center;}
.B2B .btmModule .brands img{padding: 11px 10px;}
.B2B .btmModule .brands a:link, 
.B2B .btmModule .brands a:visited, 
.B2B .btmModule .brands a:hover, 
.B2B .btmModule .brands a:active{border:none;}

/* --- Banners --- */
.grpModule .bnrPromo{float:left;display:inline;width:33.3%;margin:0 0 8px 0;overflow:hidden;}
.B2B .grpModule .bnrPromo{text-align:center;}
.grpModule .bnrPromo.firstItem .bnr260{margin-left:0;}
.grpModule .bnrPromo .bnr260{/*border:1px solid #b7b7b7;*/display:block;/*margin:0 0 0 8px;*/padding:0;text-align:center;}
.bnrPromo_full{display:block;float:left;width:100%;text-align:center;margin-bottom:16px;}
.bnrPromo_full a{display:block;}
.grpModule .bnrPromoNav{float:left;width:157px;margin-left:-163px;border:1px solid #e8e8e8;}
.grpModule .lifestyle .bnr a,
.grpModule .bnrPromo a.bnr260,
.grpModule .bnrPromo_full a,
.grpModule .bnrPromoNav a,
.grpModule .w66 a,
.grpModule .w33 a {border:none/*  !important */;}

/* --- Banners (B2B)--- */
.B2B .btmModule .fullbnr{margin:0 0 8px 0;padding: 10px 0 10px 0; border:1px solid #d0d0d0;background-color: #FFF;font-size:1.3em;color:#000;text-align: center;}
.B2B .btmModule .fullbnr img{padding: 10px 0;}
.B2B .btmModule .fullbnr a:link, 
.B2B .btmModule .fullbnr a:visited, 
.B2B .btmModule .fullbnr a:hover, 
.B2B .btmModule .fullbnr a:active{border:none;}
.B2B .btmModule .fullbnr .bnrPromoLeft{width:157px; border-right:1px solid #ddd;display:inline-table; text-align: left;float:left; }
.B2B .btmModule .fullbnr .bnrPromo{width:27%; border-right:1px solid #ddd;display:inline-table; text-align: center; }
.B2B .btmModule .fullbnr .bnrPromoRight{width:285px;display:inline-table; text-align: center;}
.B2B .bnrAdModule{margin-left:auto; margin-right:auto;height:140px;padding:20px 5px 0 5px; background-color: #e4e4e4;font-size:1em;color:#666;text-decoration: none;}
.B2B .bnrPromo div{text-align: center;}

/* Multiple ShellShockers */
.frame{height:39px;width:100%;background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bg_slider_home.png") repeat-x;position:relative;/*margin-top:25px;*/overflow:hidden;}
.frame .notch{background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/notch1.png") no-repeat top;width:12px;height:6px;position:absolute;top:0;left:50%;margin-left:-6px;display:block;}
.frame .wrap_thumbs{/*width:270px;*/width:248px;height:28px;margin:6px auto auto auto;overflow:hidden;position:relative;padding:0;}
.frame ul.list_thumbs{list-style:none;white-space:nowrap;height:28px;overflow:hidden;/*width:196px;margin:0 0 0 38px;*/margin:0px 26px; padding:0px}
.frame ul.list_thumbs li{display:block;float:left;margin:0 1px;position:relative;border:1px solid #e3d9c6;width:35px;height:26px;}
.frame ul.list_thumbs a{border:none;cursor:pointer;}
.frame ul.list_thumbs img{width:35px;height:26px;}
.frame .wrap_thumbs .ctrlL,
.frame .wrap_thumbs .ctrlR{position:absolute;top:6px;}
.frame .wrap_thumbs .ctrlL{left:2px;}
.frame .wrap_thumbs .ctrlR{right:2px;}
.frame .wrap_thumbs a.ctrlBtnL{background:transparent url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btn_l1.png") no-repeat;width:17px;height:17px;display:block;cursor:pointer;}
.frame .wrap_thumbs a.ctrlBtnL:hover{background:transparent url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btnHover_l1.png") no-repeat;width:17px;height:17px;border:none;display:block;}
.frame .wrap_thumbs a.ctrlBtnR{background:transparent url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btn_r1.png") no-repeat;width:17px;height:17px;display:block;cursor:pointer;}
.frame .wrap_thumbs a.ctrlBtnR:hover{background:transparent url("http://images10.newegg.com/WebResource/Themes/2005/Nest/btnHover_r1.png") no-repeat;width:17px;height:17px;border:none;display:block;}
.list_thumbs .isNew{filter:alpha(opacity=66);opacity:.66;}
.list_thumbs .combobdg{display:block;position:absolute;top:0;left:0;width:35px;height:26px;background:url("http://images10.newegg.com/WebResource/Themes/2005/Nest/bdg_combo_s.png") no-repeat;}

.wrap_grpProd{position:relative;margin:0;/*padding-bottom:25px*/;width:100%;height:100%;}
.wrap_grpProd .grpProd{display:none;}
.wrap_grpProd .grpProd.activeProd{display:block;} 

.wrap_grpProd .overlay{display:block;position:absolute;top:0;left:0;height:100%;width:100%;background:rgb(255,255,255);opacity:.85;filter:alpha(opacity=85);z-index:9;font-size:1.35em;}
.wrap_grpProd .overlay .loader{position: absolute;padding: 10px;background: white;border: 1px solid #fff;z-index: 99999;-moz-border-radius: 7px;/*-moz-box-shadow: 3px 5px 12px #AAA;*/-webkit-border-radius: 7px;left: 50%; top: 50%; height: 1em; min-height: 1em; width: 100px; margin-left: -60px; margin-top: -20px; text-align: center;color:#222;font-weight:bold;}
.upcoming{display:block;}
.upcoming .upcomingLabel{padding:0;color:#ec7401;font-size:1.2em;}
.upcoming .time{font:normal 2.25em helvetica,arial,sans-serif;color:#3A3A3A;font-weight:bold;}
.upcoming .time .zone{font-size:0.6em;font-weight:normal;}
.frameLabel{display:block;text-transform: uppercase;font-size: 0.85em;text-align: center;color:#888;margin-top:3px;}

/* button*/
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: middle;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-deoration: none;
	font:1.2em Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .45em 1.0em;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {text-decoration: none;}
.button:active {position: relative;top: 1px;text-deoration: none;}

/* orange */
.orange {
	color: #794400;
	border: solid 1px #d17508;
	background: #ffce95;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdeb5), to(#ffa02e));
	background: -moz-linear-gradient(top,  #ffdeb5,  #ffa02e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdeb5', endColorstr='#ffa02e');
	text-decoration: none;
}
.orange:hover {
	color: #794400;
	border: solid 1px #d17508;
	background: #ffb55d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa02e), to(#ffdeb5));
	background: -moz-linear-gradient(top,  #ffa02e,  #ffdeb5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa02e', endColorstr='#ffdeb5');
}
.orange:active {
	color: #794400;
	border: solid 1px #d17508;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa02e), to(#ffa02e));
	background: -moz-linear-gradient(top,  #ffa02e,  #ffa02e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa02e', endColorstr='#ffa02e');
}

.B2B a.orange.button,
.B2B a.orange.button:hover,
.B2B a.orange.button:active {
color: #794400;
}
.article{float:left;}
#blaNavigation .categoryList {background: none repeat scroll 0 0 #EEEFF0;/* font-size: 1.2em; */margin: 0 0 3px 2px;font-size: 1.25em;}
#blaNavigation .categoryList dt{font-weight:bold;color:#dadada;padding:5px 0 6px 6px;background:#33425a;}
#blaNavigation .categoryList dt a,#blaNavigation .categoryList dt a:link,#blaNavigation .categoryList dt a:visited,#blaNavigation .categoryList dt a:active{color:#dadada;border:0;}
#blaNavigation .categoryList dt a:hover:after{content: "";}
#blaNavigation .categoryList dd{padding:3px 3px 3px 5px;}
#blaNavigation .categoryList dd a:link,#blaNavigation .categoryList dd a:visited{border-bottom:0;}
#blaNavigation .categoryList dd a:hover,#blaNavigation .categoryList dd a:active{border-bottom:1px solid #FF9900;}
#blaNavigation .categoryList .clMore{vertical-align:top;}
#blaNavigation .categoryList .clMoreImg{vertical-align:middle;}
#blaNavigation .categoryList .clMore dl{list-style:none;margin:0;}
#blaNavigation .categoryList .clMore dl dd{padding:0 3px 5px 0;}    
#blaNavigation .categoryList span.grey{color:Gray;}

/* moke up template partial */
.grpBody #blaNavigation .secondaryNav {
    margin-bottom: 0;
    padding-top: 16px;
}
.grpBody #blaNavigation .categoryList {
    background: none repeat scroll 0 0 transparent;
    border-color: #EEEEEE;
    border-width: 1px 0 0;
    margin-left: 1px;
    padding: 13px 0;
}
.grpBody #blaNavigation .categoryList dt {
    font-family: arial;
    font-size: 1.25em;
    margin: 0 5px 4px;
}

#container #bodyArea #bodyCenterArea #SegmentPromo a.noline{ border:0; }
.B2B .w33 .email .wrapper_link label {font-size: 1.2em;}

/* Fixed Width 997px, March 2012 */
div#container, 
div#footerArea {max-width: 997px;min-width: 997px;}
.grpModule .bnrPromo {width:269px;height:120px;margin:0 0 8px 5px;overflow: hidden;}
.grpModule .bnrPromo.firstItem {border:none;margin-left:0;}
.grpModule .bnrPromoNav {width: 159px;border:0;}
.grpModule .brandBnr {height: 243px;}
.grpModule #heroModule.wrap_hero, 
.grpModule #heroModule.hasLabel {height: 243px;}

/* SEO H Tag overrides, Mar. 2011 */
.HomePage2011 div.grpLogo{background: transparent;}
.HomePage2011 div.grpLogo h1{margin:0;}
.HomePage2011 div.grpLogo h1 a{display: block;height:102px;margin:0;overflow: hidden;font-size: 0;line-height: 0;cursor: pointer;text-indent: 0;}
.bottomModule .title{color: #424649;font-weight: normal;font-size: 1.5em;clear: left;margin:14px 0;height:14px;line-height:14px;}